body {
    background-color: #8ac2e0ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h2, h4 {
    font-weight: 600;
}

.table th, .table td {
    text-align: center;
}

.card {
    border-radius: 10px;
    background-color: #fde9e9;
}
.college-logo {
    width: 100px;3
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto; /* centers it horizontally */
}

input[type="file"]::file-selector-button {
    background-color: #0355f9;
    color: rgb(10, 131, 244);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #3e96ed;
}
/* Black background with faint VTU logo in the center */
.login-bg {
    background-color: #7ac0ef; /* solid black background */
    background-image: url("/static/college_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px; /* adjust logo size */
    background-attachment: fixed; /* stays centered on scroll */
    opacity: 1;
}
 

/* Glowing login card */
.card {
    background: rgba(12, 6, 6, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(22, 23, 25, 0.4); /* blue glow */
    transition: all 0.3s ease-in-out;
}

/* Slight hover animation for glow effect */
.card:hover {
    box-shadow: 0 0 40px rgba(18, 20, 22, 0.6);
    transform: scale(1.02);
}

/* Login button enhancement */
.btn-primary {
    background-color: #007bff;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0f1215;
    box-shadow: 0 0 15px rgba(19, 21, 22, 0.6);
}
